@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  font-family: "Raleway Dots", sans-serif;
  text-decoration: none;
}

body {
  background: pink;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.modal-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.modal-bottom {
  height: 50%;
}

.modal-header {
  font-size: 30pt;
  font-weight: 900;
  margin-top: 40px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.break {
  display: flex;
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
  gap: 8px;
}

.break:before,
.break:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.5px solid #000;
  margin: auto;
}

.log-in-button {
  display: flex;
  justify-content: center;
  height: 35%;
  margin-top: 10px;
}

.log-in-button a {
  color: black;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: pink;
  border: none;
}

button:hover {
  background: rgb(255, 218, 218);
  box-shadow: 1px 1px 50px white;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img {
  width: 50%;
}

.sign-up-link {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
