@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  font-family: "Raleway Dots", sans-serif;
}

body {
  background: pink;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.returning-users a {
  text-decoration: underline;
  color: blue;
}

button {
  padding: 16px;
  width: 10%;
  background: rgb(250, 155, 171);
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 10pt;
}

button:hover {
  background: rgb(255, 218, 218);
  border: 1px solid rgb(248, 237, 239);
  box-shadow: 1px 1px 50px white;
}

.modal {
  display: flex;
  background: white;
  width: 70%;
  height: 90%;
  font-weight: 900;
  border-radius: 10px;
}

.left-content {
  background: url(https://images.pexels.com/photos/5713727/pexels-photo-5713727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  width: 55%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.left-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(250, 200, 200);
  opacity: 0.75;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.left-header {
  font-size: 30pt;
}

.left-text {
  font-size: 10pt;
  display: flex;
  flex-wrap: wrap;
}

.testimonial {
  background: rgb(255, 167, 180);
  width: 90%;
  border-radius: 10px;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.testimonial-text {
  width: 80%;
  font-size: 10pt;
}

.reviewer {
  gap: 2px;
  width: 80%;
  height: 30%;
  display: flex;
}

.reviewer img {
  width: 15%;
  border: 0.5px solid white;
  border-radius: 8px;
}

.reviewer-info {
  margin-left: 5px;
}

.reviewer-occupation {
  font-size: 8pt;
  margin-top: 5px;
}

.icon-container {
  height: 3%;
  width: 3%;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.right-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 35px;
}

.starting-prompt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-header {
  font-size: 20pt;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.first-last-container {
  display: flex;
  gap: 10px;
}

.first,
.last {
  display: flex;
  flex-direction: column;
  width: 48.6%;
  gap: 10px;
}

.email-container {
  display: flex;
}

.email {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#firstnameBox,
#lastnameBox,
#emailBox,
#usernameBox,
#passwordBox {
  height: 30px;
  width: 98.6%;
  border-radius: 5px;
  border: 1px solid pink;
}

.sign-up-button {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}
